@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url("../fonts/Lato-Light/Lato-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-Light/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Lato-Light/Lato-Light.otf") format("opentype"),
    url("../fonts/Lato-Light/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light/Lato-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lato-Light/Lato-Light.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Lato-Light/Lato-Light.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latob';
    font-display: swap;
    src: url("../fonts/Lato-Bold/Lato-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Lato-Bold/Lato-Bold.otf") format("opentype"),
    url("../fonts/Lato-Bold/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lato-Bold/Lato-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Lato-Bold/Lato-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}